.basic-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}
.basic-button {
  display: block;
  height: 37px;
  background: #3369F3;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}
.basic-link {
  color: #3369F3;
  font-size: 11px;
  text-decoration: none;
}
.basic-label {
  display: block;
  padding: 0 30px;
  margin-bottom: 15px;
  text-align: left;
  color: #999999;
  font-size: 13px;
  line-height: 13px;
}
.basic-input {
  display: block;
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #3369F3;
}
.basic-input:focus,
.basic-button:focus {
  outline: none;
}
.input-err {
  display: block;
  height: 12px;
  visibility: hidden;
}
.input-err.show {
  color: #FF2F2F;
  font-size: 10px;
  visibility: visible;
}
.validation-error {
  border-bottom: 1px solid #FF2F2F;
}
